<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro - Milano Store</title>
  <link rel="stylesheet"  th:href="@{/css/style.css}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>

  <!-- HEADER -->
  <header class="navbar">
    <div class="container">
        <div class="logo-site">
            <h1 class="logo">Milano</h1>
        </div>
    </div>
  </header>

  <!-- CONTEÚDO -->
  <section class="cadastro-container">
    <div class="cadastro-card">
      <h2>Crie sua conta</h2>
      <p>Preencha os dados abaixo para se cadastrar na Milano.</p>

      <form th:action="@{/cadastro}" method="post" class="form-cadastro">
        <div class="input-group">
          <label for="nome">Nome Completo</label>
          <input type="text" id="nome" name="nome" placeholder="Nome Completo" required>
        </div>

        <div class="input-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" placeholder="seuemail@exemplo.com" required>
        </div>

        <div class="input-group">
          <label for="senha">Senha</label>
          <input type="password" id="senha" name="senha" placeholder="Crie uma senha" required>
        </div>

        <button type="submit" class="btn-cadastrar">Cadastrar</button>

        <p class="login-link">Já tem conta? <a th:href="@{/login}">Entrar</a></p>
      </form>
    </div>
  </section>

  <!-- FOOTER -->
  <footer>
    <p class="footer-copy">© 2025 Milano Store - Todos os direitos reservados</p>
  </footer>

</body>
</html>
